$rose: #e6606c;
$white: #ffff;
$yellow: #e8ab36;
$darker-white: #efefef;
$black: #000000;
$white-transparent: #ffffff80;

$background-color: linear-gradient(236.56deg, #2c2d65 0.35%, #201f22 100%);
$background-card-color: linear-gradient(180deg, #4d4f95 0%, #2b2d66 100%);
