<h2>Add member form</h2>
<form action="" method="POST">
  <label for="firstName">First name : </label>
  <input type="text" id="firstName" name="firstName" required />
  <br />
  <br />
  <label for="lastName">Last name :</label>
  <input type="text" id="lastName" name="lastName" required />
  <br />
  <br />
  <button>ADD</button>
</form>
