$white: #fefefe;
$black: #000000;
$navyBlue: #2639ed;
$fadeYellow: #fff5db;
$fadePurple: #eff1ff;
$flashPink: #ff007a;

// colors for cards

$fadeBlue: #f4f9ff;
$orange: #ff9900;
$fadeOrange: #fff7e3;
$fadePink: #fff2f8;
$green: #00da71;
$fadeGreen: #deffee;
$whiteCard: #ffffff;
$borderCard: #f2f2f2;
