main {
  display: flex;
  flex-direction: column;

  .presentation {
    display: flex;

    justify-content: center;
    flex-direction: column;
    gap: 100px;
    margin-bottom: 150px;

    @include ipadPro {
      flex-direction: row;
      align-items: center;
    }

    .presentation-text {
      max-width: 472px;
      display: flex;
      flex-direction: column;
      position: relative;
      z-index: 100;

      h2 {
        @extend %h2-standard;
        margin-bottom: 40px;
      }
      p {
        @extend %p-standard;
        margin-bottom: 26px;
      }

      .btn {
        .contact1 {
          @extend %btn;
          @include transition(0.7s, ease-in);

          &:hover {
            background-color: lighten($navyBlue, 20%);
          }
        }
      }

      &::after {
        @include pseudo;
        content: url("./img/dotOrnament.png");
        display: none;
        width: 404px;
        height: 154px;
        z-index: -1;
        bottom: -50%;
        left: -5%;
        @include ipadPro {
          display: block;
        }
      }
    }

    .dialog-contact {
      position: absolute;
      z-index: 998;
      margin: 50vh auto;
      border-radius: 15px;
      background-color: transparent;
      padding-bottom: 50px;

      border: none;
      overflow: hidden;

      form {
        opacity: 0;
        @include transition(0.7s);
        padding: 45px;
        border-radius: 15px;
        background-color: darken($fadeYellow, 5%);
        position: relative;
        .grid-form {
          display: grid;
          grid-template-columns: 1fr 2fr;
          row-gap: 25px;
          column-gap: 10px;
          margin-bottom: 15px;
        }

        .error-msg {
          text-align: center;
          font-weight: 500;
          & > p {
            color: $flashPink;
          }
        }

        button {
          position: absolute;
          bottom: 0;
          left: 50%;
          transform: translate(-50%, 50%);
          font-size: 16px;
          background-color: $navyBlue;
          border: none;
          z-index: 999;
          color: $white;
          padding: 10px;
          border-radius: 25px;
          @include transition;

          &:hover {
            background-color: darken($navyBlue, 20%);
          }
        }
      }
    }

    .dialog-contact::backdrop {
      background-color: rgba($fadeOrange, 0.4);
    }

    .picture-presentation {
      max-width: 70vw;
      max-height: 512px;
      position: relative;
      transform: translateX(40%);
      opacity: 0.8;

      @include ipadPro {
        transform: none;
        max-width: 754px;
        max-height: 512px;
        opacity: 1;
      }

      &::before {
        @include pseudo;
        height: 129px;
        width: 129px;
        border-radius: 50%;
        background-color: $fadeBlue;
        transform: translateX(-50%);
        z-index: -1;
      }
      &::after {
        @include pseudo;
        height: 178px;
        width: 178px;
        background-color: $fadeYellow;
        border-bottom-right-radius: 50%;
        border-top-right-radius: 50%;

        right: 0;
        transform: translateY(-50%);
        z-index: -1;
      }
    }
  }

  .client-list {
    display: flex;
    flex-direction: column;

    @include ipadPro {
      flex-direction: row;
    }

    gap: 60px;
    align-items: end;
    margin-bottom: 150px;

    .description-clients {
      // !
      align-self: start;
      max-width: 330px;
      h2 {
        @extend %h2-standard;
        margin-bottom: 17px;
      }
      p {
        @extend %p-standard;
      }
    }

    .swiper {
      max-width: 250px;

      @include ipad {
        max-width: 400px;
      }

      @include ipadPro {
        transform: translateY(10px);
      }

      @include laptop13 {
        max-width: 600px;
      }

      @include laptop {
        max-width: 850px;
      }

      width: 100%;
      height: 100px;
    }

    .swiper-slide {
      display: flex;
      height: 100%;
      align-items: center;
      justify-content: center;

      .amazonLogo {
        transform: translateY(9px);
      }

      .uberEatsLogo {
        transform: translateY(-8px);
      }

      img {
        max-width: 150px;
        max-height: 50px;
      }
    }
  }
}
