@font-face {
  font-family: "Averta";
  src: url("./font/avertademope-regular-webfont.woff") format("woff"), url("./font/avertademope-regular-webfont.woff2") format("woff2");
}
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  color: #000000;
  cursor: default;
}

a {
  text-decoration: none;
  color: #000000;
}

img {
  width: 100%;
  height: 100%;
}

/*Standard Styling*/
main .offers .cards-container .card h3, main .offers .descriptions-offers h2, main .client-list .description-clients h2, main .presentation .presentation-text h2, header ul.menu-big-format li, main .presentation .presentation-text .btn .contact1 {
  font-size: 40px;
  font-weight: 400;
  line-height: 49.44px;
}

main .offers .cards-container .card p, main .offers .descriptions-offers p, main .client-list .description-clients p, main .presentation .presentation-text p {
  font-size: 16px;
  font-weight: 400;
  line-height: 25.6px;
  color: #757575;
}

main .presentation .presentation-text .btn .contact1 {
  padding: 20px 40px;
  border-radius: 60px;
  background-color: #2639ed;
  color: #fefefe;
  text-transform: uppercase;
  font-size: 20px;
}

/*Mixins*/
/* MEDIA QUERIES */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  font-family: "Averta";
  padding: 42px 40px 23px;
  position: relative;
  background-color: #fefefe;
  overflow-x: hidden;
}
@media screen and (min-width: 1024px) {
  body {
    padding: 42px 120px 23px;
  }
}

header {
  width: 100%;
  max-width: 1300px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 100px;
}
@media screen and (min-width: 1024px) {
  header {
    margin-bottom: 40px;
    gap: 100px;
  }
}
header .logo {
  white-space: nowrap;
  font-size: 27.15px;
  font-weight: 400;
  line-height: 33.55px;
  margin-right: 50px;
}
header .logo span {
  font-size: 27.15px;
  font-weight: 700;
  line-height: 33.07px;
}
header .hamburger {
  width: 25px;
  height: 25px;
  transition: 0.4s ease;
}
header .hamburger:hover {
  transform: rotate(-180deg);
}
@media screen and (min-width: 768px) {
  header .hamburger {
    display: none;
  }
}
header ul.menu-small-format {
  background-color: #fff5db;
  transition: 0.4s ease;
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 100vh;
  right: -100%;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 55px;
  border-radius: 15px;
}
header ul.menu-small-format .cross {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 35px;
  height: 35px;
  transition: 0.4s ease;
}
header ul.menu-small-format .cross:hover {
  transform: rotate(180deg);
}
header ul.menu-small-format li > a {
  padding: 15px;
  border-radius: 45px;
  font-size: larger;
  transition: 0.9s ease;
}
header ul.menu-small-format li > a:hover {
  box-shadow: 5px 5px 5px #eff1ff;
}
@media screen and (min-width: 768px) {
  header ul.menu-big-format {
    display: flex !important;
  }
}
header ul.menu-big-format {
  display: none;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 645px;
}
header ul.menu-big-format li {
  font-size: 16px;
  position: relative;
}
header ul.menu-big-format li a::after {
  content: "";
  display: block;
  position: absolute;
  transition: 0.4s ease;
  height: 2px;
  background-color: black;
  width: 0;
  bottom: 10px;
  border-radius: 45px;
}
header ul.menu-big-format li a:hover::after {
  width: 100%;
}

main {
  display: flex;
  flex-direction: column;
}
main .presentation {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 100px;
  margin-bottom: 150px;
}
@media screen and (min-width: 1024px) {
  main .presentation {
    flex-direction: row;
    align-items: center;
  }
}
main .presentation .presentation-text {
  max-width: 472px;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 100;
}
main .presentation .presentation-text h2 {
  margin-bottom: 40px;
}
main .presentation .presentation-text p {
  margin-bottom: 26px;
}
main .presentation .presentation-text .btn .contact1 {
  transition: 0.7s ease-in;
}
main .presentation .presentation-text .btn .contact1:hover {
  background-color: #848ff5;
}
main .presentation .presentation-text::after {
  content: "";
  display: block;
  position: absolute;
  content: url("./img/dotOrnament.png");
  display: none;
  width: 404px;
  height: 154px;
  z-index: -1;
  bottom: -50%;
  left: -5%;
}
@media screen and (min-width: 1024px) {
  main .presentation .presentation-text::after {
    display: block;
  }
}
main .presentation .dialog-contact {
  position: absolute;
  z-index: 998;
  margin: 50vh auto;
  border-radius: 15px;
  background-color: transparent;
  padding-bottom: 50px;
  border: none;
  overflow: hidden;
}
main .presentation .dialog-contact form {
  opacity: 0;
  transition: 0.7s ease;
  padding: 45px;
  border-radius: 15px;
  background-color: #ffeec2;
  position: relative;
}
main .presentation .dialog-contact form .grid-form {
  display: grid;
  grid-template-columns: 1fr 2fr;
  row-gap: 25px;
  -moz-column-gap: 10px;
       column-gap: 10px;
  margin-bottom: 15px;
}
main .presentation .dialog-contact form .error-msg {
  text-align: center;
  font-weight: 500;
}
main .presentation .dialog-contact form .error-msg > p {
  color: #ff007a;
}
main .presentation .dialog-contact form button {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
  font-size: 16px;
  background-color: #2639ed;
  border: none;
  z-index: 999;
  color: #fefefe;
  padding: 10px;
  border-radius: 25px;
  transition: 0.4s ease;
}
main .presentation .dialog-contact form button:hover {
  background-color: #0d1ba0;
}
main .presentation .dialog-contact::backdrop {
  background-color: rgba(255, 247, 227, 0.4);
}
main .presentation .picture-presentation {
  max-width: 70vw;
  max-height: 512px;
  position: relative;
  transform: translateX(40%);
  opacity: 0.8;
}
@media screen and (min-width: 1024px) {
  main .presentation .picture-presentation {
    transform: none;
    max-width: 754px;
    max-height: 512px;
    opacity: 1;
  }
}
main .presentation .picture-presentation::before {
  content: "";
  display: block;
  position: absolute;
  height: 129px;
  width: 129px;
  border-radius: 50%;
  background-color: #c1ddff;
  transform: translateX(-50%);
  z-index: -1;
}
main .presentation .picture-presentation::after {
  content: "";
  display: block;
  position: absolute;
  height: 178px;
  width: 178px;
  background-color: #fff5db;
  border-bottom-right-radius: 50%;
  border-top-right-radius: 50%;
  right: 0;
  transform: translateY(-50%);
  z-index: -1;
}
main .client-list {
  display: flex;
  flex-direction: column;
  gap: 60px;
  align-items: end;
  margin-bottom: 250px;
}
@media screen and (min-width: 1024px) {
  main .client-list {
    flex-direction: row;
  }
}
main .client-list .description-clients {
  align-self: start;
  max-width: 330px;
}
main .client-list .description-clients h2 {
  margin-bottom: 17px;
}
main .client-list .swiper {
  max-width: 250px;
  width: 100%;
  height: 100px;
}
@media screen and (min-width: 768px) {
  main .client-list .swiper {
    max-width: 400px;
  }
}
@media screen and (min-width: 1024px) {
  main .client-list .swiper {
    transform: translateY(10px);
  }
}
@media screen and (min-width: 1280px) {
  main .client-list .swiper {
    max-width: 600px;
  }
}
@media screen and (min-width: 1440px) {
  main .client-list .swiper {
    max-width: 850px;
  }
}
main .client-list .swiper-slide {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}
main .client-list .swiper-slide .amazonLogo {
  transform: translateY(9px);
}
main .client-list .swiper-slide .uberEatsLogo {
  transform: translateY(-8px);
}
main .client-list .swiper-slide img {
  max-width: 150px;
  max-height: 50px;
}
main .offers {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 150px;
  margin-bottom: 146px;
}
@media screen and (min-width: 1440px) {
  main .offers {
    flex-direction: row;
    gap: 90px;
  }
}
main .offers .descriptions-offers {
  position: relative;
  z-index: 100;
}
main .offers .descriptions-offers h2 {
  max-width: 360px;
  margin-bottom: 30px;
}
main .offers .descriptions-offers p {
  max-width: 390px;
}
main .offers .descriptions-offers::before {
  content: "";
  display: block;
  position: absolute;
  height: 178px;
  width: 178px;
  background-color: #fff7e3;
  border-top-left-radius: 50%;
  top: 0;
  left: 0;
  z-index: -1;
  transform: translate(-30%, -30%);
}
main .offers .cards-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 34px;
  position: relative;
}
@media screen and (min-width: 768px) {
  main .offers .cards-container {
    grid-template-columns: 1fr 1fr;
  }
  main .offers .cards-container .decalage {
    transform: translateY(-75px);
  }
}
main .offers .cards-container .card {
  z-index: 100;
  padding-top: 39px;
  padding-bottom: 57px;
  padding-left: 30px;
  padding-right: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 310px;
  gap: 30px;
  background-color: #ffffff;
  border: 1px solid #f2f2f2;
  border-radius: 40px;
}
main .offers .cards-container .card .icone {
  width: 121px;
  height: 121px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .offers .cards-container .card .icone.blue {
  background-color: #f4f9ff;
}
main .offers .cards-container .card .icone.orange {
  background-color: #fff7e3;
}
main .offers .cards-container .card .icone.pink {
  background-color: #fff2f8;
}
main .offers .cards-container .card .icone.green {
  background-color: #deffee;
}
main .offers .cards-container .card .icone img {
  width: 74px;
  height: 74px;
}
main .offers .cards-container .card h3 {
  text-align: center;
  font-size: 24px;
  line-height: 29px;
}
main .offers .cards-container .card p {
  text-align: center;
}
main .offers .cards-container::after {
  content: "";
  display: block;
  position: absolute;
  content: url("./img/Group-70.png");
  z-index: -1;
  bottom: 65px;
  left: -215px;
  transform: translateX(-75%);
}
main .offers .cards-container .circle-deco {
  position: absolute;
  z-index: -1;
  height: 120px;
  width: 120px;
  border-radius: 50%;
  border: 8px solid #ff007a;
  bottom: 70%;
  right: 0;
  transform: translate(25%, -25%);
}
@media screen and (min-width: 768px) {
  main .offers .cards-container .circle-deco {
    bottom: 0;
  }
  main .offers .cards-container::before {
    content: "";
    display: block;
    position: absolute;
    width: 1050px;
    height: 620px;
    background-color: #f4f9ff;
    border-top-left-radius: 150px;
    z-index: 0;
    bottom: 100px;
    left: -215px;
  }
}/*# sourceMappingURL=style.css.map */