@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

img {
  width: 100%;
  height: 100%;
}

body {
  font-family: Pacifico;
  background-color: burlywood;
  width: 100vw;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.noscroll {
  overflow: hidden;
}

header {
  display: flex;
  justify-content: flex-start;
  gap: 40px;
  padding: 50px;
  margin-bottom: 80px;
  position: relative;
}

.logo {
  width: 50px;
  height: 50px;
}

.form-ingredient {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
}

.meal-container {
  max-width: 800px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.card {
  background-color: azure;
  min-width: 100px;
  max-width: 250px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  text-align: center;
  border: 3px solid rgb(199, 137, 55);
  border-radius: 15px;
  overflow: hidden;
  padding-bottom: 20px;
}

.modal-card {
  display: none;
  position: fixed;
  z-index: 100;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);

  background-color: azure;
  padding: 20px;
  border-radius: 15px;
  flex-direction: column;
  gap: 20px;
}

.modal-card > #remove-modal {
  position: absolute;
  width: 25px;
  height: 25px;
  top: 15px;
  right: 15px;
  color: blueviolet;
}
