@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

img {
  width: 100%;
  height: 100%;
}

body {
  background-color: rgb(225, 228, 179);
  width: 100vw;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.noscroll {
  overflow: hidden;
}

header {
  display: flex;
  justify-content: flex-start;
  gap: 40px;
  padding: 50px;
  margin-bottom: 80px;
  position: relative;
}
h1 {
  font-family: Pacifico;
}

.logo {
  width: 50px;
  height: 50px;
}

.form-ingredient {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
}

.meal-container {
  max-width: 800px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.card {
  background-color: azure;
  min-width: 100px;
  max-width: 250px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  text-align: center;
  border: 3px solid rgb(199, 137, 55);
  border-radius: 15px;
  overflow: hidden;
  padding-bottom: 20px;
  transition: all 0.3s ease-in-out;

  position: relative;
  opacity: 0;
  transform: translateX(-100%);
}

#error {
  background-color: azure;
  min-width: 100px;
  max-width: 250px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  text-align: center;
  border: 3px solid rgb(199, 137, 55);
  border-radius: 15px;
  overflow: hidden;
  padding-bottom: 20px;
  transition: all 0.3s ease-in-out;
  opacity: 0;
}

.card:hover {
  transform: rotate(15deg) !important;
}

.modal-card {
  display: none;
  position: fixed;
  z-index: 100;
  top: 50vh;
  left: 50vw;
  max-height: 90vh;
  background-color: azure;
  padding: 20px;
  border-radius: 15px;
  flex-direction: column;
  gap: 20px;
  border: 1px solid black;
  transition: all 0.5s ease-in-out;

  opacity: 0;
  transform: translate(50%, -50%);
}

.modal-card > p {
  max-height: 250px;
  overflow: hidden; /* Cacher la scrollbar */
  overflow-y: scroll;
  scrollbar-width: none;
}

.modal-card > ol {
  max-height: 200px;
  overflow: hidden; /* Cacher la scrollbar */
  overflow-y: scroll;
  scrollbar-width: none;
}

.modal-card > #remove-modal {
  position: absolute;
  width: 25px;
  height: 25px;
  top: 15px;
  right: 15px;
  font-weight: 1000;
  color: rgb(131, 125, 125);
  background-color: rgb(209, 59, 59);
  transition: all 0.2s ease-in-out;
}

.modal-card > #remove-modal:hover {
  background-color: rgb(153, 29, 29);
}
