@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import "./sass/reset";
@import "./sass/mixins";
@import "./sass/colors.scss";

%logo {
  p {
    text-transform: uppercase;
    font-family: Barlow;
    font-size: 2rem;
    font-weight: 800;
    white-space: nowrap;

    span {
      color: $rose;
    }
  }
}

/*Style*/

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1170px;
  color: $white;
  margin: 0 auto;
  padding: 30px 10px;
  background: $background-color;
  position: relative;
  .deco1 {
    position: absolute;
    overflow: hidden;
    width: 33vw;
    left: 75%;
    top: -10%;
    z-index: -1;
  }
}

header {
  display: flex;
  // flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10rem;

  @extend %logo;

  input {
    display: none;
  }

  label {
    right: 20px;
    position: relative;
    z-index: 9999999;
  }

  .hamburger {
    max-width: 40px;
  }

  input:checked ~ ul {
    right: 0;
  }

  ul {
    position: relative;
    z-index: 999998;
    background-color: $white;
    li > a {
      font-family: Barlow;
      font-size: 0.8rem;
      font-weight: 400;
      color: $yellow;
      @include transition;
      &:hover {
        color: darken($yellow, 20%);
      }
    }

    @include transition;
    width: 70vw;
    height: 100vh;
    position: fixed;
    top: 0;
    right: -70vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
  }

  @include ipad {
    justify-content: space-between;

    label,
    input {
      display: none;
    }
    ul {
      width: 45vw;
      background-color: transparent;
      all: unset;

      display: flex;
      justify-content: space-between;
      gap: 15px;

      li {
        & > a {
          color: $white;
          @include transition;

          &:hover {
            color: #652c4f;
          }
        }
      }
    }
  }
}

main {
  display: flex;
  flex-direction: column;

  .title {
    max-width: 503px;
    display: flex;
    flex-direction: column;
    gap: 21px;
    margin-bottom: 246px;

    position: relative;

    &::after {
      @include pseudo;
      content: url("./img/deco3.png");
      top: -15%;
      left: -20px;
      z-index: 0;
    }

    &::before {
      @include pseudo;
      content: url("./img/deco2.png");
      bottom: -25%;
      right: 0;
      z-index: 0;
    }

    h1 {
      display: block;
      font-family: Barlow;
      font-size: 64px;
      font-weight: 300;
      line-height: 76.8px;
      letter-spacing: 0.045em;
    }

    .subtitle > p {
      font-family: Barlow;
      font-size: 32px;
      font-weight: 400;
      line-height: 38.4px;
      letter-spacing: 0.045em;
      color: $yellow;
    }

    p {
      display: block;
      font-family: Barlow;
      font-size: 16px;
      font-weight: 300;
      line-height: 32px;
      letter-spacing: 0.045em;
      max-width: 406px;
    }

    .btns {
      max-width: 330px;
      display: flex;
      justify-content: space-between;

      .btn {
        z-index: 9999;
        display: flex;
        width: 152px;
        height: 43px;
        border-radius: 75px;
        padding: 13px 30px;
        @include transition;
        box-shadow: 0px 4px 4px 0px #00000040;
        &:hover {
          box-shadow: 0px 4px 4px 0px $yellow;
        }
      }

      .started {
        background-color: $rose;
      }

      .know {
        background-color: $white;
      }

      .get-started {
        white-space: nowrap;
        color: $white;
        text-transform: uppercase;
        font-family: Barlow;
        font-size: 14px;
        font-weight: 500;
        line-height: 16.8px;
        letter-spacing: 0.045em;
      }
      .know-more {
        white-space: nowrap;
        color: $black;
        text-transform: uppercase;
        font-family: Barlow;
        font-size: 14px;
        font-weight: 500;
        line-height: 16.8px;
        letter-spacing: 0.045em;
      }
    }
  }

  .container-grid {
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-bottom: 76px;

    @include ipad {
      display: grid;
      grid-template-columns: 1fr 1fr;
      justify-content: space-evenly;
    }

    .img {
      max-width: 550px;
    }

    .article {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      max-width: 550px;
      padding: 60px 20px;
      position: relative;

      &::after {
        @include pseudo;
        content: url("./img/Ellipse1.png");
        top: 50px;
        left: 50%;
      }

      .deco {
        font-family: Barlow;
        font-size: 16px;
        font-weight: 400;
        line-height: 32px;
        letter-spacing: 3px;
        color: $white-transparent;
        margin-bottom: 16px;
      }
      h2 {
        font-family: Barlow Condensed;
        font-size: 56px;
        font-weight: 300;
        line-height: 64px;
        margin-bottom: 30px;
      }

      .someTxt {
        font-family: Barlow;
        font-size: 16px;
        font-weight: 400;
        line-height: 32px;
        color: $white-transparent;
        margin-bottom: 16px;
      }

      .btn {
        display: flex;
        width: 152px;
        height: 43px;
        border-radius: 75px;
        padding: 13px 30px;
        background-color: $rose;

        @include transition;
        box-shadow: 0px 4px 4px 0px #00000040;
        &:hover {
          box-shadow: 0px 4px 4px 0px $yellow;
        }
        a {
          white-space: nowrap;
          text-transform: uppercase;
          font-family: Barlow;
          font-size: 14px;
          font-weight: 500;
          line-height: 16.8px;
          letter-spacing: 0.045em;
          color: $white;
        }
      }
    }
  }

  .aside {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 113px;

    .deco {
      font-family: Barlow;
      font-size: 16px;
      font-weight: 400;
      line-height: 32px;
      letter-spacing: 3px;
      color: $white-transparent;
      margin-bottom: 16px;
    }

    h2 {
      position: relative;
      font-family: Barlow Condensed;
      font-size: 56px;
      font-weight: 300;
      line-height: 64px;
      margin-bottom: 32px;

      &::after {
        @include pseudo;
        content: url("./img/deco3.png");
        top: -75%;
        left: -20%;
      }
    }

    .someTxt {
      display: block;
      max-width: 570px;
      padding: 0 5px;
      font-family: Barlow;
      font-size: 16px;
      font-weight: 400;
      line-height: 32px;
      color: $white-transparent;
      margin-bottom: 70px;
    }

    .flex-container {
      display: flex;
      justify-content: space-around;
      gap: 30px;
      flex-direction: column;
      @include ipad {
        flex-direction: row;
        flex-wrap: wrap;
      }

      @include laptop {
        flex-direction: row;
        flex-wrap: nowrap;
      }

      .card {
        text-align: left;
        width: 370px;
        height: 432px;
        background-image: $background-card-color;
        border-radius: 15px;
        box-shadow: 0px 24px 48px 0px #00012c28;

        img {
          margin-bottom: 38px;
        }
        .description {
          margin: 0 30px;
          font-family: Barlow Condensed;
          font-size: 24px;
          font-weight: 300;
          line-height: 32px;
          margin-bottom: 20px;
        }

        .date {
          margin: 0 30px;
          font-family: Barlow;
          font-size: 16px;
          font-weight: 400;
          line-height: 32px;
          color: $white-transparent;
          margin-bottom: 38px;
        }
      }
    }
  }
}

footer {
}
