@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

header p {
  text-transform: uppercase;
  font-family: Barlow;
  font-size: 2rem;
  font-weight: 800;
  white-space: nowrap;
}
header p span {
  color: #e6606c;
}

/*Style*/
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1170px;
  color: white;
  margin: 0 auto;
  padding: 30px 10px;
  background: linear-gradient(236.56deg, #2c2d65 0.35%, #201f22 100%);
  position: relative;
}
body .deco1 {
  position: absolute;
  overflow: hidden;
  width: 33vw;
  left: 75%;
  top: -10%;
  z-index: -1;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10rem;
}
header input {
  display: none;
}
header label {
  right: 20px;
  position: relative;
  z-index: 9999999;
}
header .hamburger {
  max-width: 40px;
}
header input:checked ~ ul {
  right: 0;
}
header ul {
  position: relative;
  z-index: 999998;
  background-color: white;
  transition: all 0.5s ease;
  width: 70vw;
  height: 100vh;
  position: fixed;
  top: 0;
  right: -70vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 40px;
}
header ul li > a {
  font-family: Barlow;
  font-size: 0.8rem;
  font-weight: 400;
  color: #e8ab36;
  transition: all 0.5s ease;
}
header ul li > a:hover {
  color: #a57313;
}
@media screen and (min-width: 768px) {
  header {
    justify-content: space-between;
  }
  header label,
  header input {
    display: none;
  }
  header ul {
    width: 45vw;
    background-color: transparent;
    all: unset;
    display: flex;
    justify-content: space-between;
    gap: 15px;
  }
  header ul li > a {
    color: white;
    transition: all 0.5s ease;
  }
  header ul li > a:hover {
    color: #652c4f;
  }
}

main {
  display: flex;
  flex-direction: column;
}
main .title {
  max-width: 503px;
  display: flex;
  flex-direction: column;
  gap: 21px;
  margin-bottom: 246px;
  position: relative;
}
main .title::after {
  content: " ";
  display: block;
  position: absolute;
  content: url("./img/deco3.png");
  top: -15%;
  left: -20px;
  z-index: 0;
}
main .title::before {
  content: " ";
  display: block;
  position: absolute;
  content: url("./img/deco2.png");
  bottom: -25%;
  right: 0;
  z-index: 0;
}
main .title h1 {
  display: block;
  font-family: Barlow;
  font-size: 64px;
  font-weight: 300;
  line-height: 76.8px;
  letter-spacing: 0.045em;
}
main .title .subtitle > p {
  font-family: Barlow;
  font-size: 32px;
  font-weight: 400;
  line-height: 38.4px;
  letter-spacing: 0.045em;
  color: #e8ab36;
}
main .title p {
  display: block;
  font-family: Barlow;
  font-size: 16px;
  font-weight: 300;
  line-height: 32px;
  letter-spacing: 0.045em;
  max-width: 406px;
}
main .title .btns {
  max-width: 330px;
  display: flex;
  justify-content: space-between;
}
main .title .btns .btn {
  z-index: 9999;
  display: flex;
  width: 152px;
  height: 43px;
  border-radius: 75px;
  padding: 13px 30px;
  transition: all 0.5s ease;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
}
main .title .btns .btn:hover {
  box-shadow: 0px 4px 4px 0px #e8ab36;
}
main .title .btns .started {
  background-color: #e6606c;
}
main .title .btns .know {
  background-color: white;
}
main .title .btns .get-started {
  white-space: nowrap;
  color: white;
  text-transform: uppercase;
  font-family: Barlow;
  font-size: 14px;
  font-weight: 500;
  line-height: 16.8px;
  letter-spacing: 0.045em;
}
main .title .btns .know-more {
  white-space: nowrap;
  color: #000000;
  text-transform: uppercase;
  font-family: Barlow;
  font-size: 14px;
  font-weight: 500;
  line-height: 16.8px;
  letter-spacing: 0.045em;
}
main .container-grid {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin-bottom: 76px;
}
@media screen and (min-width: 768px) {
  main .container-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-evenly;
  }
}
main .container-grid .img {
  max-width: 550px;
}
main .container-grid .article {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 550px;
  padding: 60px 20px;
  position: relative;
}
main .container-grid .article::after {
  content: " ";
  display: block;
  position: absolute;
  content: url("./img/Ellipse1.png");
  top: 50px;
  left: 50%;
}
main .container-grid .article .deco {
  font-family: Barlow;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 3px;
  color: rgba(255, 255, 255, 0.5019607843);
  margin-bottom: 16px;
}
main .container-grid .article h2 {
  font-family: Barlow Condensed;
  font-size: 56px;
  font-weight: 300;
  line-height: 64px;
  margin-bottom: 30px;
}
main .container-grid .article .someTxt {
  font-family: Barlow;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  color: rgba(255, 255, 255, 0.5019607843);
  margin-bottom: 16px;
}
main .container-grid .article .btn {
  display: flex;
  width: 152px;
  height: 43px;
  border-radius: 75px;
  padding: 13px 30px;
  background-color: #e6606c;
  transition: all 0.5s ease;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
}
main .container-grid .article .btn:hover {
  box-shadow: 0px 4px 4px 0px #e8ab36;
}
main .container-grid .article .btn a {
  white-space: nowrap;
  text-transform: uppercase;
  font-family: Barlow;
  font-size: 14px;
  font-weight: 500;
  line-height: 16.8px;
  letter-spacing: 0.045em;
  color: white;
}
main .aside {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 113px;
}
main .aside .deco {
  font-family: Barlow;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 3px;
  color: rgba(255, 255, 255, 0.5019607843);
  margin-bottom: 16px;
}
main .aside h2 {
  position: relative;
  font-family: Barlow Condensed;
  font-size: 56px;
  font-weight: 300;
  line-height: 64px;
  margin-bottom: 32px;
}
main .aside h2::after {
  content: " ";
  display: block;
  position: absolute;
  content: url("./img/deco3.png");
  top: -75%;
  left: -20%;
}
main .aside .someTxt {
  display: block;
  max-width: 570px;
  padding: 0 5px;
  font-family: Barlow;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  color: rgba(255, 255, 255, 0.5019607843);
  margin-bottom: 70px;
}
main .aside .flex-container {
  display: flex;
  justify-content: space-around;
  gap: 30px;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  main .aside .flex-container {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 1440px) {
  main .aside .flex-container {
    flex-direction: row;
    flex-wrap: nowrap;
  }
}
main .aside .flex-container .card {
  text-align: left;
  width: 370px;
  height: 432px;
  background-image: linear-gradient(180deg, #4d4f95 0%, #2b2d66 100%);
  border-radius: 15px;
  box-shadow: 0px 24px 48px 0px rgba(0, 1, 44, 0.1568627451);
}
main .aside .flex-container .card img {
  margin-bottom: 38px;
}
main .aside .flex-container .card .description {
  margin: 0 30px;
  font-family: Barlow Condensed;
  font-size: 24px;
  font-weight: 300;
  line-height: 32px;
  margin-bottom: 20px;
}
main .aside .flex-container .card .date {
  margin: 0 30px;
  font-family: Barlow;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  color: rgba(255, 255, 255, 0.5019607843);
  margin-bottom: 38px;
}/*# sourceMappingURL=style.css.map */